.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    outline: 0;
    
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
    
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #272222;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
  
    display: flexbox;
    transition: 0.2s;
    font-size: 17px;
    color: #6c4cb9;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  /* Estilos para el contenedor del select */
.styled-select {
  display: block;
  width: 200px; /* Ancho del select (ajustar según tus necesidades) */
  padding: 10px;
  font-size: 17px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e4dddd81;
}

/* Estilos para el ícono de la flecha (opcional) */
.styled-select::after {
  content: "\25BC"; /* Código unicode de la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none; /* Evitar que la flecha sea seleccionable */
}

/* Estilos para el hover (opcional) */
.styled-select:hover {
  border-color: #999;
}

/* Estilos para el focus (opcional) */
.styled-select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

/* Estilos para el texto de las opciones (opcional) */
.styled-select option {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333;
}
.bg-glass{
  border-radius: 6px;


}