.navbar-light .navbar-nav .nav-link{
color: black;
font-size: 18px;
}

.navbar-light .navbar-brand{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 30px;

}