.nombre-universidad {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: larger;


  /* Otros estilos personalizados */
}

/* #cabecera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
} */


.vh-100 {

  padding-top: 4.5rem;
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.navbar-brand-lg {
  font-size: 24px;
  /* Ajusta el tamaño del texto según tus preferencias */
  font-weight: bold;
  /* Opcional: ajusta el peso de la fuente según tus preferencias */
}

.navbar-link-logout {
  margin-left: auto;
  /* Mueve el enlace "Logout" a la derecha */
}

#div1 {
  position: absolute;
  z-index: 1;
  /* Estilos adicionales */
  padding-left: 5.5rem;
  background-size: cover;
}

#div2 {
  position: relative;
  z-index: 2;
  background-size: cover;
  /* Estilos adicionales */
}

.imagen {
  position: fixed;
  top: 80;
  left: 0;
  width: 92vw;
  height: 120vh;
  overflow: hidden;
}

#fondo1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**/

.btonInicio {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}


.vh-100 {

  padding-top: 4.5rem;
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.navbar-brand-lg {
  font-size: 24px;
  /* Ajusta el tamaño del texto según tus preferencias */
  font-weight: bold;
  /* Opcional: ajusta el peso de la fuente según tus preferencias */
}

.navbar-link-logout {
  margin-left: auto;
  /* Mueve el enlace "Logout" a la derecha */
}


.imagen {
  position: fixed;
  top: 80;
  left: 0;
  width: 92vw;
  height: 120vh;
  overflow: hidden;
}

#fondo1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**/
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

button {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color)
}

button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

button p::before {
  position: absolute;
    box-sizing: border-box;
  content: "Iniciar Sesión";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.1s ease-out;
}

button:hover::after {
  width: 100%;
}

button:hover p::before {
  width: 100%;
}

button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/**/
/* Estilos para el botón */


/* Estilos para el Offcanvas */
.offcanvas {
  background-color: hsl(0, 88%, 48%);
  /* Color de fondo negro */
  background-image: linear-gradient(to bottom right, #1a1a1a, #333333);
  /* Gradiente metálico */
  box-shadow: 0 0 10px rgba(66, 64, 64, 0.3);
  /* Sombra */
  color: #ede4e4;
  /* Color de texto */
}

.offcanvas-header {
  background-color: #3c403b;
  /* Color de fondo del encabezado */
  border-bottom: 1px solid #818488;
  /* Borde inferior */
  padding: 1rem;
  color: rgb(234, 231, 231);
}

.offcanvas-title {
  font-size: 1.2rem;
  margin-bottom: 100;
  color: white;
}

.offcanvas-body {
  padding: 2rem;
}

.offcanvas-body a {
  display: block;
  padding: 0.5rem 0;
  color: #fff;
  /* Color de enlaces */
  text-decoration: none;
  font-size: 20px;
}

.offcanvas-body a:hover {
  color: #a7b0bb;
}

/**/
.btnM {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #0d0f0c93;
  color: #ffffff;
}



.btnM .icon {
  position: absolute;
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  color: white;
}

.btnM:hover .icon {
  width: 50px;
}

.btnM:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btnM:focus {
  outline: none;
}

.btnM:active .icon {
  transform: scale(0.75);
}

.footer-link {
  position: fixed;
  display: inline;
  bottom: 1rem;
  left: 10;
  padding: 2rem;

}

/*Boton salir*/

.BtnSalir {
  display: inline;
  bottom: 1rem;
  align-items: center;
  justify-content: flex-start;
  width: 55px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.signSalir {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signSalir svg {
  width: 17px;
}

.signSalir svg path {
  fill: white;
}
/* text */
.textSalir {
  position: absolute;
  bottom: 0.7rem;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.BtnSalir:hover {
  width: 200px;
  border-radius: 40px;
  transition-duration: .2s;
}

.BtnSalir:hover .signSalir {
  width: 30%;
  transition-duration: .2s;
  padding-left: 20px;
}
/* hover effect button's text */
.BtnSalir:hover .textSalir {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.BtnSalir:active {
  transform: translate(2px ,2px);
}